#body_login {
    width: 100%;
    height: 100%;
    padding: 0 6% 2% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
#main_login {
    width: 60%;
    height: 600px;
    margin-top: 100px;
  }

  #form_login {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #form_login>h1{
    color: white;
  }
  
  #label_login {
    width: 70%;
    height: 25%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: white;
  }
  
  #label_checkbox_login {
    width: 70%;
    height: 5%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: white;
  }

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
  height: 30%;
  background-color: var(--color_fondo_inputs);
  padding: 25px 5px 25px 30px;
  border: 1px solid rgb(50, 57, 89);
  border-radius: 10px 10px;
  color: white;
  caret-color: white;
}

input::placeholder {
    color: rgb(147, 155, 196);
}
input:focus {
    outline: 2px solid white;
}
    
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.sign-in-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(24, 61, 228);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

#form_login > input[type="submit"] {
    background-color: var(--color_botones);
    border: none;
    padding: 20px 100px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
  #no_tienes_cuenta {
    text-decoration: none;
    color: white;
  }
  
  @media (max-width: 768px) {
    #form_login > input[type="submit"] {
        padding: 15px 50px;
    }
  }



